
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*overflow: auto;  Allow scrolling by default */
}

body {
    position: relative;
    background-image: url('../img/bg_start.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Center div */
.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This ensures the div is perfectly centered */
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid rgb(124, 175, 140);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-family: "Lucida Handwriting", Times, serif;
    width: 50%;  /* Width diva */
    height: 50%;  /* Height diva */
    position: relative;
    color: rgb(92, 132, 104);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000
}

/* Gif macke */
.cat-gif {
    position: absolute;
    top: -121px;
    left: -5px;
    width: 180px;
    height: auto;
}

/*div for buttons */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%; /* Make container take full width */
}

/* PLAY and HELP buttons */
button {
    width: 500px;
    border-radius: 10px; /* Make the buttons rounded */
    background-color: rgb(124, 175, 140); /* Button color */
    color: white;  /* Text color */
    border: none;
    font-size: 35px; /* Font size */
    transition: background-color 0.3s ease;
    padding: 2px;
}

/* Style for hover effect */
button:hover {
    background-color: rgb(102, 140, 105); /* Darker shade on hover */
}

/*SWEET ALERT*/
/* Override the popup background and border */
.swal2-popup {
    background-color: rgb(131, 183, 136); /* Darker shade on hover */
    border-radius: 10px;
    border: 5px solid rgb(63, 141, 71);
}

/* Override the title style */
.swal2-title {
    color: rgb(30, 54, 32); /* Tomato color */
    font-size: 15px;
}

/* Override the content text style */
.swal2-content {
    color: rgb(30, 54, 32);
    font-size: 16px;
}

/* Override the confirm button style */
.swal2-confirm {
    background-color: rgb(30, 54, 32); /* Green */
    color: rgb(63, 141, 71);
    border-radius: 10px;
    padding: 10px 20px;
}

